div.section-three {
  display: flex;
  background-color: #8dc757;
  overflow: hidden;
  padding-top: 5rem 0;
  width: 100%;
}

div.section-three div.title-box {
  margin-bottom: -10%;
  width: 35%;
  align-self: flex-end;
}

div.section-three div.title-box,
div.section-three div.text-box {
  float: left;
}

div.section-three div.quote-right {
  align-self: flex-end;
  text-align: right;
}

div.section-three div.title-box img {
  width: 100%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

div.section-three div.text-box {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: auto;
  margin: 6% 6% 2% 6%;
  width: 65%;
  font-weight: bolder;
  line-height: 90%;
  text-align: justify;
}

@media (min-width: 360px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  div.section-three div.text-box {
    font-size: 100%;
  }
}

@media (min-width: 400px) {
  /* smartphones, Android phones, landscape iPhone */
  div.section-three div.text-box {
    font-size: 110%;
  }
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  div.section-three div.text-box {
    font-size: 140%;
  }
}

@media (min-width: 768px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  div.section-three div.text-box {
    font-size: 190%;
  }
  div.section-three div.quote-right {
    display: none;
  }
}

@media (min-width: 1024px) {
  /* big landscape tablets, laptops, and desktops */
  div.section-three div.text-box {
    font-size: 250%;
  }
}

@media (min-width: 1280px) {
  /* hi-res laptops and desktops */
  div.section-three div.text-box {
    font-size: 300%;
  }
  div.section-three div.quote-left {
    margin-top: -2%;
  }
  div.section-three div.quote-right {
    display: block;
    margin-bottom: -2%;
  }
}
