div.section-form {
  display: inline-block;
  background-color: #fff;
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 5%;
  padding: 0 15% 5% 15%;
}

div.section-form h1,
div.section-form h2 {
  text-align: center;
}

div.section-form h1 {
  color: #0086c5;
  font-size: 90%;
}

div.section-form h2 {
  color: #8dc757;
  font-size: 80%;
}

div.section-form form {
  float: left;
  width: 100%;
}

div.section-form input,
div.section-form label {
  display: block;
}

div.section-form input,
div.section-form select,
div.section-form textarea {
  color: #0086c5;
  width: 100%;
  margin-bottom: 0.5rem;
}

div.section-form label {
  color: #0086c5;
}

@media (min-width: 360px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  div.section-form h1 {
    font-size: 120%;
    letter-spacing: -0.1rem;
  }
  div.section-form h2 {
    font-size: 100%;
    letter-spacing: -0.075rem;
  }
}

@media (min-width: 400px) {
  /* smartphones, Android phones, landscape iPhone */
  div.section-form {
    padding: 0 20% 5% 20%;
  }
  div.section-form h1 {
    font-size: 120%;
    letter-spacing: -0.1rem;
  }
  div.section-form h2 {
    font-size: 100%;
    letter-spacing: -0.075rem;
  }
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  div.section-form h1 {
    letter-spacing: -0.2rem;
  }
  div.section-form h1 {
    font-size: 240%;
    letter-spacing: -0.225rem;
  }
  div.section-form h2 {
    font-size: 160%;
    letter-spacing: -0.175rem;
  }
}

@media (min-width: 768px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  div.section-form h1 {
    letter-spacing: -0.225rem;
  }
  div.section-form h1 {
    font-size: 240%;
    letter-spacing: -0.225rem;
  }
  div.section-form h2 {
    font-size: 160%;
    letter-spacing: -0.175rem;
  }
}

@media (min-width: 1024px) {
  /* big landscape tablets, laptops, and desktops */
  div.section-form {
    padding: 0 25% 5% 25%;
  }
  div.section-form h1 {
    font-size: 270%;
    letter-spacing: -0.225rem;
  }
  div.section-form h2 {
    font-size: 180%;
    letter-spacing: -0.175rem;
  }
}

@media (min-width: 1280px) {
  /* hi-res laptops and desktops */
  div.section-form h1 {
    font-size: 380%;
    letter-spacing: -0.225rem;
  }
  div.section-form h2 {
    font-size: 250%;
    letter-spacing: -0.225rem;
  }
}
