div.app header {
  background-color: #0086c5;
  text-align: center;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

div.app header img {
  max-width: 100%;
}

div.app section {
  clear: both;
  float: left;
}

div.app section.info1 {
  background-color: #0086c5;
}

div.app section.info2 {
  background-color: #8dc757;
}

div.app section.form {
  background-color: #fff;
}
