div.presentation {
  display: flex;
  background-color: #fff;
  overflow: hidden;
  padding-top: 0.5rem;
  width: 100%;
}

div.presentation div.photo,
div.presentation div.right-box {
  float: left;
  width: 50%;
}

div.presentation button.go-to-form {
  margin-bottom: 1rem;
}

div.presentation div.photo img {
  margin-bottom: -30%;
  margin-top: -5%;
  width: 100%;
}

div.presentation div.right-box {
  align-self: center;
  color: #8cc658;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: -0.125rem;
  line-height: 85%;
  font-size: 160%;
  font-style: oblique;
  font-weight: 900;
  margin-left: -8%;
  text-align: center;
}

div.presentation div.right-box button {
  color: #fff;
  background-color: #0086c5;
  border-radius: 0.5rem;
  font-size: 50%;
  font-style: oblique;
  font-weight: 900;
  padding: 0 0.5rem;
}

div.presentation div.right-box strong {
  color: #0086c5;
}

@media (min-width: 360px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  div.presentation div.right-box {
    font-size: 180%;
    letter-spacing: -0.125rem;
  }
  div.presentation div.right-box button {
    letter-spacing: 0;
  }
}

@media (min-width: 400px) {
  /* smartphones, Android phones, landscape iPhone */
  div.presentation div.right-box {
    font-size: 210%;
    letter-spacing: -0.175rem;
  }
  div.presentation div.right-box button {
    letter-spacing: -0.075rem;
  }
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  div.presentation div.right-box {
    font-size: 310%;
    letter-spacing: -0.2rem;
  }
  div.presentation div.right-box button {
    letter-spacing: -0.1rem;
  }
}

@media (min-width: 768px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  div.presentation div.right-box {
    font-size: 410%;
    letter-spacing: -0.225rem;
  }
  div.presentation div.right-box button {
    letter-spacing: -0.125rem;
  }
}

@media (min-width: 1024px) {
  /* big landscape tablets, laptops, and desktops */
  div.presentation div.right-box {
    font-size: 500%;
    letter-spacing: -0.25rem;
  }
  div.presentation div.right-box button {
    letter-spacing: -0.15rem;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  div.presentation div.right-box {
    font-size: 700%;
    letter-spacing: -0.675rem;
  }
  div.presentation div.right-box button {
    letter-spacing: -0.325rem;
  }
}